


#turma{
    justify-content: left;
    padding-top: 2px;
    display: block;
    align-items: center;
    font-size: 30px;
    color: red;
    background-color: rgb(252, 252, 237);
    margin: 0%;

}


div{
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0px;
    padding: 0px;
}



a{
    text-decoration: none;
    color: red;
}


#simulado{
    justify-content: left;
    
    display: block;
    align-items: center;
    font-size: 8vw;
    font-family: 'Lato', sans-serif;
    color: black;
    text-shadow: rgb(236, 100, 9) 1.5px  1.5px  1.6px;
    background-color: rgb(253, 229, 11);
}

body{
    background-image: url(gaokao.fw.png);
    
    
    background-repeat: no-repeat;
    background-size: 250vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 5, 5);
    margin: 0%;
    padding: 10px;

    overflow: hidden;
}